.container{
    width: 600px;
    height: 800px;
    background-color:rgb(244,139,41);
    border-radius:20px;
    margin-top: 30px;
   
}

h1{
    color: white;
    padding-top: 20px;
   
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

img{
    width: 100px;
    

}

.card{
    margin-top: 25px;
    width: 250px;
    height: 150px;
    border-radius:15px;
    background-color:rgb(252,236,221);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    transform: rotateY(0deg);
    transition: 1s;
    
}

.card-flip{
    margin-top: 25px;
    width: 250px;
    height: 150px;
    border-radius:15px;
    background-color:rgb(252,236,221);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    transform: rotateY(360deg);
    transition: 1s;
    
}

.first-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(252,236,221);
    scale: 1;
    z-index: 2;
    transition: scale 1s, z-index 0s;

}

p{
    margin: 5px;
}

.second-page{
    position: absolute;
    text-align: left;
    display: flex;
    align-items: center;
    background-color:rgb(252,236,221); 
    scale: 0;
    z-index: 1;
    opacity: 0;
    transition: scale 1s, z-index 0s, opacity 0.5s;
    
}

.first-page-click{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(252,236,221);
    scale: 0;
    z-index:1;
    opacity: 0;
    transition: scale 1s, z-index 0s, opacity 0.5s;
    
    
    
} 

.second-page-click{
    position: absolute;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(252,236,221);
    scale: 1;
    z-index:2;
    transition: scale 1s, z-index 0s;
    
    
}

